@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
}
.bgcolor{
    background: linear-gradient(81deg, rgba(37,89,194,1) 6%, rgba(0,56,169,1) 26%, rgba(0,25,51,1) 71%, rgba(0,25,51,1) 100%);
}
.bgcolor1{
background: linear-gradient(357deg, rgba(0,56,169,1) 6%, rgba(0,56,169,1) 26%, rgba(10,11,11,1) 71%, rgba(0,25,51,1) 100%);
}


.logo:hover {
    color:white;
}


.box {
    animation: popup 0.4s;
}

@keyframes popup {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}